body {
   background-image: url("background.jpg");
    background-color: lemonchiffon;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 20px;
    font-style: normal;
    color: pink;
    
}

h3 {
    line-height: 10px;
}

#content ul, #content ol {
    width: 25%;
    margin: auto;
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: lightcyan;
        
}

#nav li{
    float: left;
}

#nav li a {
    display: block;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    color:black;
    
}
#nav li:hover{
    background-color:mintcream;
}

h2 {
    font-size: 12px;
}